<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SisTurbineSystemMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.po.SisTurbineSystem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="pressureControllerGroupChargingPressure" column="pressure_controller_group_charging_pressure" jdbcType="VARCHAR"/>
            <result property="unitLoadIncreaseRate" column="unit_load_increase_rate" jdbcType="VARCHAR"/>
            <result property="unitLoadDecreaseRate" column="unit_load_decrease_rate" jdbcType="VARCHAR"/>
            <result property="operatingRegulatorStatusValue" column="operating_regulator_status_value" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pressure_controller_group_charging_pressure,unit_load_increase_rate,
        unit_load_decrease_rate,operating_regulator_status_value
    </sql>
</mapper>
